/* Resetar CS do meu css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --cor-primaria: darkblue;
    --cor-do-texto-titulo: var(--cor-primaria);
    --fonte-do-texto-titulo: 'Arial', sans-serif;
    --padding: 1rem;
    --padding-img: 2px;
    --border: 1px solid rgb(0 0 0 / 0.2);
}
nav {
    background-color: var(--cor-primaria);
    padding: var(--padding);
}

nav a {
    color: white;
    display: block;
    padding: var(--padding);
}

h1 {
    color: var(--cor-do-texto-titulo);
    font-family: var(--fonte-do-texto-titulo);
}

img {
    width: 150px;
    height: auto;
    border: var(--border);
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

main {
    position: relative;
    max-width: 840px;
    padding: var(--padding);
}
main img {
    width: 150px;
    height: auto;
    padding: var(--padding-img);
    float: right;
    margin-left: 30px;
    margin-bottom: 30px;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside h2 {
  position: absolute;
  top: 110px;
  left: 70px;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 30px;
    text-align: center;
}

/* Seletores de Classe  */

.caixa {
    margin: 1rem;
    border:  var(--border);
    padding: 1rem;
    background-color: #eee;
    color: #000;
    clear: both;
}
.identacao {
    padding-left: 2rem;
}